/* src/styles.css */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body{
 width: 90%;
 min-height: 100vh;
 margin-left:auto;
 margin-right: auto;
 margin-top:1vh;
}
@font-face {
    font-family: 'Lobster';
    src: url('../src/assets/fonts/Lobster-Regular.ttf') format('truetype'),
}
@font-face {
    font-family: 'Allura';
    src: url('../src/assets/fonts/Allura-Regular.ttf') format('truetype'),
}
.text-banner {
    font-family: 'Lobster';
    font-size: x-large;
    background-color: rgba(255, 255, 255, 0.54);
    /* back */
}
.text-header {
    font-family: 'Allura';
    font-size: xx-large;
    font-weight: bold;
    
}